<section class="promo site-section">
	<div class="wrapper">
		<p class="promo__pitch">I'm an independent developer located in beautiful <a href="http://visitwroclaw.eu/en">Wroclaw</a>, Poland. I help agencies and freelancers keep their clients happy by providing the best solutions WordPress has to offer.</p>
		<p>I build things on the internet &ndash; websites and applications, premium and free WordPress themes and plugins. You can find some open source work on <a href="https://github.com/hellojusi/">Github</a>, if you feel like diving into my code.</p>
		<p>Looking for an experienced WordPress developer for your next project? Don't hesitate to <a href="mailto:justyna.ratajczak@gmail.com">email me</a>, I'd love to talk about it!</p>
	</div>
</section>